.dashboard {
    width: calc(100% - 60px);
    height: 100%; 
    padding: 10px;

    .it {
        background: #242B61;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    p {
        margin: 10px 20px;
        color: #66B5F8;
    }

    .tb_lf {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 2fr minmax(200px, 4.5fr) 2fr;
        grid-template-rows: repeat(4, minmax(100px, 1fr));
        grid-gap: 5px;
    }
}



.tb_lf .item {
    background: #242B61;
}

.tb_lf .main_db {
    grid-row-start: 1; 
    grid-row-end: 4;
    grid-column-start: 2;
}

.tb_lf .datasheet {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* tb_rt */

.tb_rt {
    grid-row-start: 1; 
    grid-column-start: 3;
    grid-row-end: 5;
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    grid-gap: 5px;
}


/* main_db */

.main_db {
    width: 100%;
    height: 100%;
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, #00A6FF 0%, rgba(0, 166, 255, 0.7) 10.56%, rgba(0, 166, 255, 0) 100%);
    display: flex;
    justify-content: center;

    .bg_m{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    
        img{
            // position: relative;
            // z-index: 1;
            width: 100%;
            height: 90%;
            object-fit: contain;
        }
    }

    h3 {
        position: absolute;
        z-index: 2;
        margin-top: 10px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.8px;
        text-indent: 5px;
    }
    
    h2 {
        position: absolute;
        z-index: 2;
        margin-top: 50px;
        text-transform: uppercase;
        text-align: center;
        color: #FF647C;
    
        font-size: 1.5rem;
        letter-spacing: 0.8px;
        text-indent: 5px;
    }

    h4 {
        position: absolute;
        z-index: 2;
        color: #fff;
        bottom: 50%;
    }

    a{
        color: #fff;
        text-decoration: none;
    }

    .lk_performance {
        position: absolute;
        z-index: 2;
        bottom: 55%;
        left: 11%;
    }

    .lk_schedule {
        position: absolute;
        z-index: 2;
        bottom: 345px;
        right: 65px;
    }

    .lk_culter {
        position: absolute;
        z-index: 2;
        bottom: 100px;
        left: 105px;
    }

    .lk_storage {
        position: absolute;
        z-index: 2;
        bottom: 117px;
        right: 90px;
    }
    
    .lk_packing {
        position: absolute;
        z-index: 2;
        bottom: 20px;
        display: flex;
        justify-content: center;
    }
    
    .ar_di:hover {
        transform: scale(1.1);
        transition: 200ms;
        font-weight: 500;
    }
}

.datasheet {
    height: 100%;
    table {
        margin: 0 auto;
        color: #fff;
        width: 98%;
        height: calc(100% - 50px);
        border-spacing: 0 1px;
        tbody {
            height: 50%;
            width: 100%;
            display: block;
            overflow: auto;
            display: table;
        }
        .id {
            width: 15%;
            text-align: center;
        }

        .time {
            width: 22%;
            text-align: left;
        }

        .quantity {
            width: 20%;
            text-align: left;
        }

        .performance {
            text-align: left;
        }
        .code {
            width: 20%;
            text-align: center;
        }

        th {
            background: #1C224F;
        }

        tr {
            // height: 20px;
            width: 100%;
            display: table;
        }

        .tr1 {
            background: none;
        }

        .tr2 {
            background: #3F477E;
        }
    }
}

.culter {
    width: 100%;
    height: 100%;
    .chart {
        margin: 0 auto;
        width: 100%;
        height: calc(100% - 30px);
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        display: flex;
        justify-content: space-around;

        .wrap_chart {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            .percent {
                width: 100%;
                height: 70%;
                position: relative;
                display: flex;
                justify-content: center;

                p {
                    position: absolute;
                    color: #86d5fa;
                    
                    // left: 50%;
                }
            
                canvas {
                    height: 80% !important;
                    // width: 100%;
                    object-fit: contain;
                }
            }

            div {
                padding: 0;
            }
        }
    }
}

.performance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .chart {
        width: 100%; 
        display: flex;
        justify-content: center;
        img {
            width: 60%;
        }
    }

    .type {
        margin-bottom: 10px;
        div {
            display: flex;
            align-items: center;
            color: #fff;
            div {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                margin: 0 15px;
            }
        }
    }
}

.storage {
    .chart {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.schedule {
    .chart {
        width: 100%;
        height: 90%;

        canvas {
            width: 100% !important;
        }
    }
}

.energy {
    .chart {
        width: 100%;
        height: calc(100% - 30px);
        display: flex;
        justify-content: space-between;

    canvas {
            height: 90% !important;
            object-fit: contain;
            color: rgba(255, 255, 255, 0);
        }
    }
}

.environment {
    .chart {
        width: 100%;
        height: calc(100% - 40px);
        display: flex;
        justify-content: space-around;


        // .bar {
        //     width: 100%;
        //     background: #555;
        //     padding: 10px;
        //     -webkit-transform: rotate(-90deg); /* Safari and Chrome */
        //     -moz-transform: rotate(-90deg);   /* Firefox */
        //     -ms-transform: rotate(-90deg);   /* IE 9 */
        //     -o-transform: rotate(-90deg);   /* Opera */
        //     transform: rotate(-90deg);  

        //     p {
        //         position: relative;
        //         background: #00A6FF;
        //     }

        //     span {
        //         display: block;
        //         position: relative;
        //         z-index: 1;
        //         width: 100%;
        //         background: #fff;
        //         // position: relative;
        //         // overflow: hidden;
        //     }
        // }

        .bar {
            box-sizing: content-box;
            height: 90%; /* Can be anything */
            width: 5%;
            max-width: 15px;
            background: #777DB6;
            display: flex;
            align-items: flex-end;

            p{
                position: relative;
                left: -10px;
                width: 1px;
                margin: 0;
                padding: 0;
                -webkit-transform: rotate(-90deg); /* Safari and Chrome */
                -moz-transform: rotate(-90deg);   /* Firefox */
                -ms-transform: rotate(-90deg);   /* IE 9 */
                -o-transform: rotate(-90deg);   /* Opera */
                transform: rotate(-90deg);  
            }
            span {
                display: block;
                width: 100%;
                background-color: #59CBFF;
                overflow: hidden;
            }
        }
    }
}


@media only screen and (max-width: 812px) {
    .dashboard {
        width: 100%;
        height: 100%; 
        padding: 10px;

        .tb_lf {
            display: inline;
            width: 100%;
            height: 100%;

            .it {
                max-height: 200px;
                .chart {
                    width: 70%;
                    max-width: 500px;
                    // max-height: 300px;
                    margin: 0 auto;
                }
            }
        }
    }
}