.packing_page {
    width: 100%;
    height: 100%;
    padding: 10px;

    h3 {
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.8px;
        text-indent: 5px;
    }

    .data {
        width: 100%;
        height: calc(100% - 50px);
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
        .row_1 {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5px;
            .chartMixer {
                width: calc(100% - 20px);
                height: calc(100% - 80px);
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }
            .subchartMixer {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    color: #ffffff;
                    font-size: 1em;
                    margin: 0px 1em;
                }
            }
            .chartOee {
                width: calc(100% - 20px);
                height: calc(100% - 50px);
                margin: 0 auto;
                margin: auto;
            }
            .oee_realtime {
                width: 100%;
                height: 100%;

                .chart {
                    width: calc(100% - 20px);
                    height: calc(100% - 80px);
                }
            }
        }

        .row_2 {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            .chartQuality {
                width: calc(100% - 20px);
                height: calc(100% - 50px);
                margin: 0 auto;
            }
            .historyTable {
                width: calc(100% - 20px);
                height: calc(100% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: greenyellow;
            }
        }

        p {
            margin: 10px 20px;
            color: #66b5f8;
        }

        .element {
            background: #242b61;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .history_production {
            background: none;
            box-shadow: none;
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }
}

@media only screen and (max-width: 812px) {
    .packing_page {
        width: 100%;
        height: 100%;
        padding: 10px;

        h3 {
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: center;
            color: #fff;

            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0.8px;
            text-indent: 5px;
        }

        .data {
            width: 100%;
            display: inline;
            .row_1 {
                display: inline;
                .chartMixer {
                    min-height: 150px;
                }
                .chartOee {
                    width: 70%;
                    max-width: 500px;
                    min-height: 100px;
                }
            }

            .row_2 {
                display: inline;
                .chartQuality {
                    width: 70%;
                    max-width: 500px;
                    min-height: 150px;
                }
            }

            p {
                margin: 7px 15px;
                color: #66b5f8;
            }

            .element {
                background: #242b61;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                margin-top: 5px;
            }

            .history_production {
                background: none;
                box-shadow: none;
                grid-column-start: 2;
                grid-column-end: 4;
            }
        }
    }
}
